{% extends "admintemp.html" %}
{% block body %}
<table class="table table-bordered"width="363" border="1">
  <tr>

    <!--<th width="85">Hospital Name</th>-->
    <th width="36">Slno</th>
    <!--<th width="39">District</th>-->
    <!--<th width="39">pincode</th>-->
    <th width="39">Subject</th>
    <!--<th width="133">E-mail</th>-->
    <!--<th width="39">website</th>-->
    <th width="39">Complaint</th>
    <!--<th width="39">image2</th>-->
    <th width="39">User</th>
    <!--<th >availability</th>-->
  </tr>
  {% for i in res %}
  <tr>
    <td>{{loop.index}}</td>
    <!--<td></td>-->
    <!--<td></td>-->
    <td>{{i[1]}}</td>
    <!--<td></td>-->
    <!--<td></td>-->
    <td>{{i[2]}}</td>
    <td>{{i[3]}}<br>{{i[4]}}</td>

    <td><a href="/reply_cmt/{{i[0]}}">Reply</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
