{% extends "hospitaltemp.html" %}
{% block body %}
<table class="table">
  <tr>
    <th>#</th>
    <th>Department</th>
    <th>Description</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  {% for i in res %}
  <tr>
    <td>{{loop.index}}</td>
    <td>{{i[2]}}&nbsp;</td>
    <td>{{i[3]}}</td>
    <td><a href="/dep_edit/{{ i[0] }}">edit</a></td>
    <td><a href="/hviewdep_delete/{{ i[0] }}">remove</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
