{% extends "hospitaltemp.html" %}
{% block body %}
<table class="table">
  <tr>
    <th width="8">Sl.no</th>
    <th width="59">Doctor Name</th>
    <!--<th width="52">age</th>-->
    <!--<th width="52">Place</th>-->
    <th width="45">department</th>
    <th width="45">qualification</th>
    <th width="52">email</th>
    <th width="52">Image</th>
    <th width="80">phno</th>
    <!--<th width="93">address</th>-->
    <th></th>
  </tr>
  {% for i in res %}


  <tr>
    <td>{{loop.index}}</td>
    <td>{{i[2]}} </td>
    <!--<td>{{i[3]}}</td>-->
    <!--<td></td>-->
    <td>{{i[5]}}&nbsp;</td>
    <td>{{i[6]}}</td>
    <td>{{i[7]}}</td>
    <td><img src="/static/{{i[8]}}" height="100px" width="100px"></td>
    <td>{{i[9]}}</td>
    <!--<td>{{i[4]}}<br>{{i[10]}}<br>{{i[11]}}</td>-->
      <td><a href="/h_doctoredit/{{i[0]}}">Edit</a><br><a href="/hviewdoc_delete/{{ i[0] }} ">Remove</a></td>



  </tr>
  {% endfor%}
</table>
{% endblock %}