{% extends "hospitaltemp.html" %}
{% block body %}
<form action="/h_viewbooking">
<table class="table">
  <tr>
    <th>Doctor Name</th>
    <th>Department</th>
    <th>Date</th>
    <!--<th>user name</th>-->
    <th>phno</th>
    <th>place</th>
    <th>email</th>
    <th></th>
  </tr>
  {% for i in res %}
  <tr>
    <td>{{i[0]}}</td>
    <td>{{i[1]}}&nbsp;</td>
    <td>{{i[2]}} </td>
    <!--<td>{{i[3]}}&nbsp;</td>-->
     <td>{{i[4]}}&nbsp;</td>
    <td>{{i[5]}}&nbsp;</td>
    <td>{{i[6]}}&nbsp;</td>
    <td><a href="/h_viewbooking_app/{{i[7]}}">approve</a><br><a href="/h_viewbooking_rej/{{i[7]}}">reject</a> </td>
  </tr>
  {% endfor %}
</table>
</form>
{% endblock %}
