{% extends "hospitaltemp.html" %}
{% block body %}
<form action="/h_dep" method="POST">
<table class="table">
  <tr>
    <td>Department</td>
    <td>
      <label for="txtdepartment"></label>
      <input type="text" name="txtdepartment" id="txtdepartment" required />
    </td>
  </tr>
  <tr>
    <td>Description</td>
    <td>
      <label for="txtdescription"></label>
      <textarea name="txtdescription" id="txtdescription" cols="45" rows="5"></textarea>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="btadd" id="btadd" value="Add" class="btn btn-primary" />
    </td>
  </tr>
</table>
</form>
{% endblock %}