{% extends "hospitaltemp.html" %}
{% block body %}
<form action="/update_doc" enctype="multipart/form-data" method="post">
<table class="table">
  <tr><td colspan="2"><input type="hidden" name="did" value="{{res[0]}}"/><img src="/static/{{ res[8] }}"height="100"width="100"> </td></tr>
  <tr>
    <td>Name</td>
    <td>
      <label for="txtname"></label>
      <input type="text" name="txtname" value="{{ res[2] }}"  id="txtname"required />
   </td>
  </tr>
  <tr>
    <td>Age</td>
    <td>
      <label for="txtage"></label>
      <input type="text" name="txtage" id="txtage"  value="{{ res[3] }}" required/>
  </td>
  </tr>
  <tr>
    <td>Place</td>
    <td>
      <label for="txtplace"></label>
      <input type="text" name="txtplace" value="{{ res[4] }}" id="txtplace"required />
   </td>
  </tr>
  <tr>
    <td>Department</td>
    <td>
      <label for="list"></label>
      <select name="list" id="list">
        {% for a in res1 %}
        <option value="{{ a[0] }}"> {{ a[2] }}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <td>Qualification</td>
    <td>
      <label for="txtqualification"></label>
      <input type="text" name="txtqualification" value="{{ res[6] }}" id="txtqualification"required />
   </td>

  </tr>
  <tr>
    <td>Image</td>
    <td>
      <label for="fileimg"></label>
      <input type="file" name="fileimg" id="fileimg" required/>
    </td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td>
      <label for="txtemail"></label>
      <input type="text" name="txtemail" value="{{ res[7] }}" id="txtemail" required />
   </td>
  </tr>
  <tr>
    <td>Phone No</td>
    <td>
      <label for="txtphno"></label>
      <input type="text" name="txtphno" id="txtphno" value="{{res[9]}}" required />

  </td>
  </tr>
  <tr>
    <td>Address</td>
    <td>
      <label for="txtaddress"></label>
      <input type="text" name="txtaddress" value="{{ res[10] }}" id="txtaddress" required />
   </td>


  </tr>

  <tr>
      <td>Gender</td>
      <td>
        {% if res[11]=="Male" %}
      Male <input type="radio" name="radio" id="radio" value="Male" checked />
      Female <input type="radio" name="radio" id="radio" value="Female" />

      {% else %}
       Male<input type="radio" name="radio" id="radio" value="Male"  />
       female<input type="radio" name="radio" id="radio" value="Female" checked/>

      {% endif %}
    </td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="btadd" id="btadd" value="update"class="btn btn-primary" />
    </td>
  </tr>
</table>
</form>
{% endblock %}
