{% extends "docttemp.html" %}
{% block body %}
<form action="/algo3_pg" method="POST">
<table class="table">
  <tr>
    <!--<th>Doctor Name</th>-->
    <!--<th>Department</th>-->
    <th>Slno</th>
    <th>Qustion</th>

  </tr>
  <tr>

    <td>1</td>
    <td>{{q1}}&nbsp;</td>


  </tr>
  <tr>

    <td>2</td>
    <td>{{q2}}&nbsp;</td>


  </tr>

    <tr>

    <td>3</td>
    <td>{{q3}}&nbsp;</td>


  </tr>


  <br>
     <tr>
    <td>1Qustion Answer</td>
    <td>

      <input type="text" name="a1" id="a1" required/>
    </td>
  </tr>
         <tr>
    <td>2Qustion Answer</td>
    <td>

      <input type="text" name="a2" id="a2" required/>
    </td>
  </tr>
         <tr>
    <td>3Qustion Answer</td>
    <td>

      <input type="text" name="a3" id="a3" required/>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="btadd" id="btadd" value="Next" />
    </td>
  </tr>
</table>
</form>
{% endblock %}
