{% extends "docttemp.html" %}
{% block body %}
<form action="/h_viewbooking">
<table class="table">
  <tr>
    <!--<th>Doctor Name</th>-->
    <!--<th>Department</th>-->
    <th>Date</th>
    <th>user name</th>
    <th>phno</th>
    <th>place</th>
    <th>email</th>

  </tr>
  {% for i in res %}
  <tr>
    <!--<td>{{i[0]}}</td>-->
    <!--<td>{{i[1]}}&nbsp;</td>-->
    <td>{{i[2]}} </td>
    <td>{{i[3]}}&nbsp;</td>
     <td>{{i[4]}}&nbsp;</td>
    <td>{{i[5]}}&nbsp;</td>
    <td>{{i[6]}}&nbsp;</td>
    <td><a href="/doct_pre_add_fir/{{i[8]}}">Add prescription</a><br><a href="/doct_pres_view/{{i[8]}}">View prescription</a> <br><a href="/doct_view_files_user/{{i[8]}}">View Files</a> </td>

  </tr>
  {% endfor %}
</table>
</form>
{% endblock %}
