{% extends "docttemp.html" %}
{% block body %}
<form action="">
<table class="table">
  <tr>
    <!--<th>Doctor Name</th>-->
    <!--<th>Department</th>-->
    <th>slno</th>
    <th>filename</th>
      <th>Date</th>
    <th>Username</th>

    <th></th>

  </tr>
  {% for i in res %}
  <tr>
    <!--<td>{{i[0]}}</td>-->
    <td>{{loop.index}}&nbsp;</td>
    <td>{{i[0]}} </td>
    <td>{{i[1]}}&nbsp;</td>
     <td>{{i[3]}}&nbsp;</td>
    <td><a href="/doct_view_files_dw_usr/{{i[2]}}">download</a> &nbsp;</td>

  </tr>
  {% endfor %}
</table>
</form>
{% endblock %}
