{% extends "docttemp.html" %}
{% block body %}
<form>
<table class="table">
  <tr>
    <!--<th>Doctor Name</th>-->
    <!--<th>Department</th>-->
    <th>slno</th>
    <th>Prescription</th>
      <th>Date</th>

    <th></th>

  </tr>
  {% for i in res %}
  <tr>
    <!--<td>{{i[0]}}</td>-->
    <td>{{loop.index}}&nbsp;</td>
    <td>{{i[1]}} </td>
    <td>{{i[2]}}&nbsp;</td>
    <td><a href="/doct_pres_view_del/{{i[0]}}">Remove</a> &nbsp;</td>

  </tr>
  {% endfor %}
</table>
</form>
{% endblock %}
