{% extends "asd.html" %}
{% block body %}
<form action="/addhospital" enctype="multipart/form-data" method="post">
<table class="table table-bordered"width="456" border="1">
  <tr>
    <td width="151">Name</td>
    <td width="289"><input name="txtname" type="text" required /></td>
  </tr>
  <!--<tr>-->
    <!--<td>State</td>-->
    <!--<td>-->
      <!--<input type="text" name="state" id="state"required />-->
    <!--</td>-->
  <!--</tr>-->
  <tr>
    <td>District</td>
    <td>
      <label for="txtdistrict"></label>
      <select name="txtdistrict" id="txtdistrict">
        <option value="Kasargod">Kasargod</option>
        <option value="Kannur">Kannur</option>
        <option value="Calicut">Calicut</option>
        <option value="Wayanad">Wayanad</option>
        <option value="Kottayam">Kottayam</option>
        <option value="Idukki">Idukki</option>
        <option value="Ernakulam">Ernakulam</option>
        <option value="Thiruvananthapuram">Thiruvananthapuram</option>
        <option value="Alappuzha">Alappuzha</option>
        <option value="Malappuram">Malappuram</option>
        <option value="Kollam">Kollam</option>
        <option value="Pathanamthitta">Pathanamthitta</option>
        <option value="Kasargod">Kasargod</option>
        <option value="Kasargod">Kasargod</option>
      </select>
   </td>
  </tr>
  <tr>
    <td>Pincode</td>
    <td>
      <label for="txtpincode"></label>
      <input type="text" name="txtpincode" id="txtpincode" required />
    </td>
  </tr>
  <tr>
    <td>Ph.no</td>
    <td>
      <label for="txtphno"></label>
      <input type="text" name="txtphno" id="txtphno" required />
    </td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td>
      <label for="txtemail"></label>
      <input type="email" name="txtemail" id="txtemail"  required/>
   </td>
  </tr>
  <tr>
    <td>Website</td>
    <td>
      <label for="txtwebsite"></label>
      <input type="text" name="txtwebsite" id="txtwebsite"required />
   </td>
  </tr>
  <tr>
    <td>Choose Image1</td>
    <td><input type="file" name="img1"  /></td>
  </tr>
  <tr>
    <td>Choose Image2</td>
    <td>

      <input type="file" name="img2"  /></td>
  </tr>
  <tr>
    <td>Description</td>
    <td>
      <textarea name="txtdescription" id="txtdescription" cols="45" rows="5"></textarea>
  </td>
  </tr>
  <tr>
    <td>Availability</td>
    <td><table width="292" border="1">
      <tr>
        <td>
          <input type="checkbox" name="chlab" id="checkbox3" value="Blood bank" />
          <label for="checkbox3">Blood Bank</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="chlab" id="checkbox4"value="Organ bank" />
          <label for="checkbox4">Organ Bank</label>
       </td>
      </tr>
      <tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><table width="293" border="1">
      <tr>
        <td width="129">
          <input type="submit" name="btsubmit" id="btsubmit" value="Submit" />
       </td>
        <td width="148">
          <input type="reset" name="button" id="button" value="Cancel" />
        </td>
      </tr>
    </table></td>
  </tr>
</table>
  </form>
{% endblock %}