{% extends "admintemp.html" %}
{% block body %}
<table class="table table-bordered" width="500" border="1">
  <tr>
    <!--<th width="70">Name</th>-->
    <th width="20">vehicle Details</th>
    <th width="58">place</th>
    <!--<th width="116">post</th>-->
     <!--<th width="8">pincode</th>-->
    <!--<th width="90">engineno</th>-->
     <th width="8">phone</th>
    <th width="90">discription</th>
    <th width="90">Features</th>
  </tr>
  {% for i in res %}
  <tr>
    <td>Name : {{i[1]}}<br>Vehicle No : {{i[2]}}<br>
      Engine No : {{i[6] }}
      <br>
    </td>
    <td>{{i[3]}}</td>
    <!--<td>{{i[4]}}</td>-->
    <!--<td>{{i[5]}}</td>-->
    <!--<td>{{i[6]}}</td>-->
    <td>{{i[7]}}</td>
    <td>{{i[8]}}</td>
    <td>{{i[9]}}</td>
    <td>
      <a href="/ambulance_edit/{{i[0]}}">Edit</a></td>
    <td><a href="/ambulance_delete/{{i[0]}}">Delete</a></td>

  </tr>
  {% endfor %}
</table>
{% endblock %}
