
<table class="table table-bordered" width="306" border="1">
  <tr>
    <td width="4">&nbsp;</td>
    <td width="225"><table width="227" border="1">
      <tr>
        <td width="217">Name</td>
        </tr>
    </table></td>
    <td width="55">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><table width="231" border="1">
      <tr>
        <td width="221">Address</td>
        </tr>
      <tr>
        <td>Ph No</td>
        </tr>
      <tr>
        <td>E-mail</td>
        </tr>
      <tr>
        <td>Website</td>
        </tr>
    </table></td>
    <td><a href="#">edit</a></td>
  </tr>
  <tr>
    <input type="image" name="imageField" id="imageField" src="file:///C|/Users/riss/Desktop/GEOSWITCH/level one dfd.sdr" />
    <td><form id="form1" name="form1" method="post" action="">
    </form></td>
    <td><table width="227" border="1">
      <tr>
        <td width="217">Description</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td><a href="#">remove</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><table width="228" border="1">
      <tr>
        <td width="218">Our Fecilities</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
</table>
{% endblock %}