{% extends "admintemp.html" %}
{% block body %}
<form action="/addambulance_post" method="post">
<body>
<table class="table table-bordered" width="307" height="395" border="1">
  <tr>
    <td width="120">Name</td>
    <td width="171">
      <label for="txtname"></label>
      <input type="text" name="txtname" id="txtname"  required/>
   </td>
  </tr>
  <tr>
    <td>Vehicle.No</td>
    <td>
      <label for="txtvehicleno"></label>
      <input type="text" name="txtvehicleno" id="txtvehicleno" required />
   </td>
  </tr>
  <tr>
    <td colspan="2">Location Under Ambulance Service</td>
    
  </tr>
  <tr>
    <td>Place</td>
    <td>
      <input type="text" name="Place" id="Place" />
    </td>
  </tr>
  <tr>
    <td>Latitude</td>
    <td>
      <input type="text" name="Post" id="Post"required />
    </td>
  </tr>
  <tr>
    <td>Longitude</td>
    <td>
      <input type="text" name="Pincode" id="Pincode" required />
    </td>
  </tr>
  <tr>
    <td>Engine No</td>
    <td>
      <label for="txtengineno"></label>
      <input type="text" name="txtengineno" id="txtengineno" required />
  </td>
  </tr>
  <tr>
    <td>Ph No</td>
    <td>
      <label for="txtphno"></label>
      <input type="text" name="txtphno" id="txtphno" required />
   </td>
  </tr>
  <tr>
    <td>Description</td>
    <td>
      <label for="txtdescription"></label>
      <textarea name="txtdescription" id="txtdescription" cols="45" rows="5"></textarea>
   </td>
  </tr>
  <tr>
    <td>Availability</td>
    <td><table width="200" border="1">
      <tr>
        <td>
          <input type="checkbox" name="checkbox" id="checkbox" value="Mobile ICU" />
          <label for="checkbox">Mobile ICU</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="checkbox" id="checkbox2" value="Oxygen" />
          <label for="checkbox2">Oxygen</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="checkbox" id="checkbox3" value="Freezer" />
          <label for="checkbox3">Freezer</label>
       </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>Hospital</td>
    <td>
    <select name="sss">
    <option value="">select</option>
    {% for i in res %}
    <option value="{{i[0]}}">{{i[1]}}</option>
    </select>
    {% endfor %}
    </td>
  </tr>
  
  <tr>
    <td>Email</td>
    <td>
      <input type="text" name="uname" id="uname"  />
    </td>
  </tr>
  <tr>
    <td>Password</td>
    <td>
    <input type="text" name="pwd" id="pwd"  />
    </td>
  </tr>
  
  
  
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="btadd" id="btadd" value="Add" />
    </td>
  </tr>
</table>
</form>
{% endblock %}