{% extends "admintemp.html" %}
{% block body %}
<table class="table table-bordered"width="268" border="1">
  <tr>
    <th width="8">Sl.no</th>
    <th width="56">User ID</th>
    <th width="43">Name</th>
    <th width="65">Feedback</th>
    <th width="62">Date</th>
  </tr>
  {% for i in usr%}
  <tr>
    <td>{{loop.index}}</td>
    <td>{{i[0]}}</td>
    <td>{{i[1]}}</td>
    <td>{{i[2]}}&nbsp;</td>
    <td>&nbsp;{{i[3]}}</td>
  </tr>
  {% endfor%}
</table>
{% endblock %}
