{% extends "admintemp.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
<table width="200" border="1">
  <tr>
    <td>Uid</td>
    <td>Username</td>
    <td>Contact</td>
    <td>Lattiude</td>
    <td>Lochitude</td>
   
    
  </tr>
  {% for i in res %}
  <tr>
    
    <td>{{i[0]}}</td>
    <td>{{i[1]}}</td>
    <td>{{i[2]}}</td>
    <td>{{i[3]}}</td>
    <td>{{i[4]}}</td>
    
   
  </tr>
  {% endfor %}
</table>
</form>
{% endblock %}