{% extends "admintemp.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/addLab_post">
  <table width="200" border="1">
    <tr>
      <td>Hospital</td>
      <td><select name="sss">
        <option value="">select</option>
        
    {% for i in res %}
    
        <option value="{{i[0]}}">{{i[1]}}</option>
        {% endfor %}
      </select></td>
      
    </tr>
    <tr>
      <td>contactno</td>
      <td><label for="textfield"></label>
      <input type="text" name="txt_cno" id="txt_cno" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label for="textfield2"></label>
      <input type="text" name="txt_em" id="txt_em" /></td>
    </tr>
    <tr>
      <td>password</td>
      <td><label for="textfield3"></label>
      <input type="text" name="txt_pwd" id="txt_pwd" /></td>
    </tr>
     <tr>
      <td>&nbsp;</td>
      <td><label for="textfield3"></label>
       <input type="submit" name="button" id="button" value="save" /></td>
    </tr>
  </table>
  
</form>
{% endblock %}