{% extends "admintemp.html" %}
{% block body %}
<form action="/usearch" method="post">
<input type="text" name="txtname" id="txtname" required/>
<input type="submit" name="search" id="search" value="search"/>
<table class="table table-bordered" width="428" border="1" align="center">
  <tr>
    <th width="9">#</th>
    <th width="45">Name</th>
    <th width="30">Age</th>
    <th width="39">DOB</th>
    <th width="56">Gender</th>
    <!--<th width="31">City</th>-->
    <th width="50">Place</th>
    <!--<th width="24">&nbsp;</th>-->
    <!--<th width="86">&nbsp;</th>-->
  </tr>
  {% for i in aud%}
  <tr>
    <td>{{loop.index}}&nbsp;</td>
    <td>&nbsp;{{i[3]}}</td>
    <td>&nbsp;{{i[4]}}</td>
    <td>&nbsp;{{i[7]}}</td>
    <td>&nbsp;{{i[5]}}</td>
    <!--<td>&nbsp;{{i[]}}</td>-->
    <td>&nbsp;{{i[8]}}</td>
    <!--<td><a href="#">edit</a></td>-->
    <!--<td><a href="#">remove</a></td>-->
  </tr>
  {% endfor %}
</table>
  </form>
{% endblock %}