{% extends "admintemp.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td>id</td>
      <td>Hospital</td>
      <td>phone</td>
      <td>email</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in res %}
    <tr>
      <td>{{i[0]}}</td>
      <td>{{i[1]}}</td>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td><a href="/phar_edit/{{i[0]}}">Edit</a></td>
      <td><a href="/phar_delete/{{i[0]}}">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endblock %}