{% extends "admintemp.html" %}
{% block body %}
<form action="/updtambulance_post" method="post">

<table class="table table-bordered" width="307" height="395" border="1">
  <tr>
       <input type="hidden" name="id" id="id" value="{{res[0]}}"/>
    <td width="120">Name</td>
    <td width="171">
      <label for="txtname"></label>
      <input type="text" name="txtname" id="txtname" value="{{res[1]}}" required/>
   </td>
  </tr>
  <tr>
    <td>Vehicle.No</td>
    <td>
      <label for="txtvehicleno"></label>
      <input type="text" name="txtvehicleno" id="txtvehicleno"value="{{res[2]}}" required/>
   </td>
  </tr>
  <tr>
    <td colspan="2">Location Under Ambulance Service</td>

  </tr>
  <tr>
    <td>Place</td>
    <td>
      <input type="text" name="Place" id="Place"value="{{res[3]}}" required />
    </td>
  </tr>
  <tr>
    <td>Latitude</td>
    <td>
      <input type="text" name="Post" id="Post" value="{{res[4]}}" required/>
    </td>
  </tr>
  <tr>
    <td>Longitude</td>
    <td>
      <input type="text" name="Pincode" id="Pincode" value="{{res[5]}}" required/>
    </td>
  </tr>
  <tr>
    <td>Engine No</td>
    <td>
      <label for="txtengineno"></label>
      <input type="text" name="txtengineno" id="txtengineno" value="{{res[6]}}" required/>
  </td>
  </tr>
  <tr>
    <td>Ph No</td>
    <td>
      <label for="txtphno"></label>
      <input type="text" name="txtphno" id="txtphno" value="{{res[7]}}" required/>
   </td>
  </tr>
  <tr>
    <td>Description</td>
    <td>
      <label for="txtdescription"></label>
      <textarea name="txtdescription" id="txtdescription" cols="45" rows="5"value="{{res[8]}}">{{res[8]}}</textarea>
   </td>
  </tr>
  <tr>
    <td>Availability</td>
    <td><table width="200" border="1">
      <tr>
        <td>
          <input type="checkbox" name="checkbox" id="checkbox" value="Mobile ICU" value="{{res[9]}}"/>
          <label for="checkbox">Mobile ICU</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="checkbox" id="checkbox2" value="Oxygen" />
          <label for="checkbox2">Oxygen</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="checkbox" id="checkbox3" value="Freezer" />
          <label for="checkbox3">Freezer</label>
       </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="btadd" id="btadd" value="update" />
    </td>
  </tr>
</table>

</form>
{% endblock %}