{% extends "admintemp.html" %}
{% block body %}
<table class="table table-bordered" width="309" border="1">
  <tr>
    <th width="8">#</th>
    <th width="54">User Id</th>  
    <th width="43">E-mail</th>
    <th>Hospital Name</th>
    <th width="68">Complaint</th> 
    <th width="102">Date</th>
  </tr>
{% for i in res %}

  <tr>
    <td>{{loop.index}}</td>
    <td>&nbsp;{{i[7]}}</td>
    <td>{{i[8]}}</td>
    <td>{{i[5]}}</td>
    <td>{{i[1]}}</td>
    <td>{{i[2]}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
