{% extends "hospitaltemp.html" %}
{% block body %}
<form action="/h_pentry" enctype="multipart/form-data" method="POST">
<table width="200" border="1">
<tr>
    <td>Image</td>
    <td>
      <label for="fileimg"></label>
      <input type="file" name="fileimg" id="fileimg" />
    </td>
  </tr>  <tr>
    <td>Name</td>
    <td>
      <label for="txtname"></label>
      <input type="text" name="txtname" id="txtname" required />
    </td>
  </tr>
  <tr>
    <td>Age </td>
    <td>
      <label for="txtage"></label>
      <input type="text" name="txtage" id="txtage"  required/>
 </td>
  </tr>
    <tr>
    <td>gender</td>
    <td>
      <input type="radio" name="txtgender"  value="Male" selected/>MALE<br>
        <input type="radio" name="txtgender" value="Female" />FEMALE
 </td>
  </tr>
  <tr>
    <td>B Group</td>
    <td>
      <select name="txtbgroup" >
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>DOB</td>
    <td>
      <label for="txtdob"></label>
      <input type="date" name="txtdob" id="txtdob" required />
   </td>
  </tr>
  <tr>
    <td>Place</td>
    <td>
      <label for="txtplace"></label>
      <input type="text" name="txtplace" id="txtplace" required />
    </td>
  </tr>
  <tr>
    <td>Ph No</td>
    <td>
      <label for="txtphno"></label>
      <input type="text" name="txtphno" id="txtphno" required />
   </td>
  </tr>
  <tr>
    <td>Previous Disease</td>
    <td>
      <label for="txtpreviousdisease"></label>
      <input type="text" name="txtpreviousdisease" id="txtpreviousdisease" required />
   </td>
  </tr>
  <tr>
    <td>Current Disease</td>
    <td>
      <label for="txtcurrentdisease"></label>
      <input type="text" name="txtcurrentdisease" id="txtcurrentdisease" required />
    </td>
  </tr>
     <tr>
    <td>email</td>
    <td>
      <label for="txtemail"></label>
      <input type="email" name="txtemail" id="txtemail"  required/>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <input type="submit" name="btadd" id="btadd" value="Add" />
   </td>
  </tr>
</table>
</form>
{% endblock %}