{% extends "hospitaltemp.html" %}
{% block body %}
<form action="/h_adddoct" enctype="multipart/form-data" method="post">
<table width="200" border="1">
  <tr>
    <td>Name</td>
    <td>
      <label for="txtname"></label>
      <input type="text" name="txtname" id="txtname" />
   </td>
  </tr>
  <tr>
    <td>Age</td>
    <td>
      <label for="txtage"></label>
      <input type="text" name="txtage" id="txtage" />
  </td>
  </tr>
  <tr>
    <td>Place</td>
    <td>
      <label for="txtplace"></label>
      <input type="text" name="txtplace" id="txtplace" />
   </td>
  </tr>
  <tr>
    <td>Department</td>
    <td>
      <label for="list"></label>
      <select name="list" id="list">

        {% for a in res %}

        <option value="{{ a[0] }}"> {{ a[2] }}</option>


        {% endfor %}



      </select>
    </td>
  </tr>
  <tr>
    <td>Qualification</td>
    <td>
      <label for="txtqualification"></label>
      <textarea name="txtqualification" id="txtqualification" cols="45" rows="5"></textarea>
   </td>
  </tr>
  <tr>
    <td>Image</td>
    <td>
      <label for="fileimg"></label>
      <input type="file" name="fileimg" id="fileimg" />
    </td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td>
      <label for="txtemail"></label>
      <input type="text" name="txtemail" id="txtemail"  required/>
   </td>
  </tr>
  <tr>
    <td>Phone No</td>
    <td>
      <label for="txtphno"></label>
      <input type="text" name="txtphno" id="txtphno" required />
  </td>
  </tr>
  <tr>
    <td>Address</td>
    <td>
      <label for="txtaddress"></label>
      <textarea name="txtaddress" id="txtaddress" cols="45" rows="5"></textarea>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="btadd" id="btadd" value="Add" />
    </td>
  </tr>
</table>
</form>
{% endblock %}