{% extends "hospitaltemp.html" %}
{% block body %}
<form action="/ambulanceview" method="post">
<table width="295" border="1">
  <tr>
    <th width="85">Ambulance Name</th>
    <th width="20">vehicleno</th>
    <th width="58">place</th>
    <th width="116">post</th>
     <th width="8">pincode</th>
    <th width="116">engineno</th>
     <th width="8">phnno</th>
    <th width="116">discription</th>
    <th width="116">availability</th>

    <th colspan="2"></th>
  </tr>
  {% for i in res %}
  <tr>
    <td>{{i[1]}}</td>
    <td>{{i[2]}}</td>
    <td>{{i[3]}}</td>
    <td>{{i[4]}}</td>
    <td>{{i[5]}}</td>
    <td>{{i[6]}}</td>
    <td>{{i[7]}}</td>
    <td>{{i[8]}}</td>
    <td>{{i[9]}}</td>
    <td>
      <a href="/ambulance_edit/{{i[0]}}">Edit</a></td>
    <td><a href="/ambulance_delete/{{i[0]}}">Delete</a></td>

  </tr>
  {% endfor %}
</table>
{% endblock %}