{% extends "hospitaltemp.html" %}
{% block body %}
<table width="341" border="1">
  <tr>
    <th width="18">ID</th>
    <th width="68">Complaint</th>
    <th width="33">Date</th> 
    <th width="42">Status</th>
    <th width="48"></th>
  </tr>
  {% for i in res %}
  <tr>
    <td>{{i[0]}}</td>
    <td>{{i[1]}}</td>
    <td>{{i[5]}}</td>
    <td>{{i[3]}}</td>
    <td>{{i[4]}}</td>
    <td><a href="/viewreplay/{{ i[0] }}">REPLAY</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}