{% extends "hospitaltemp.html" %}
{% block body %}
<form action="/h_sndcomp" method="post">
<table width="467" border="1">
  <tr>
    <td width="98">Complaint</td>
    <td width="353">
      <label for="txtcomplaint"></label>
      <textarea name="txtcomplaint" id="txtcomplaint" cols="45" rows="5"></textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="btsend" id="btsend" value="send" />
    </td>
  </tr>
</table>
</form>
{% endblock %}
