{% extends "hospitaltemp.html" %}
{% block body %}
<form action="/h_shview">
<table width="295" border="1">
  <tr>
    <th width="85">Doctor Name</th>
    <th width="20">specialisation</th>
    <th width="58">phono</th>
    <th width="116">date</th>
      <th width="8">from</th>
    <th width="116">to</th>
      <th width="20"></th>
  </tr>
    {% for i in res %}
  <tr>
    <td>{{i[1]}}</td>
    <td>{{i[0]}}</td>
    <td>{{i[2]}}</td>
    <td>{{i[3]}}</td>
    <td>{{i[4]}}</td>
    <td>{{i[5]}}</td>
    <td><a href="/shdel/{{  i[6]   }}">Delete</a></td>

  </tr>
  {% endfor %}
{% endblock %}