{% extends "hospitaltemp.html" %}
{% block body %}
<!--<table> <tr>-->
        <!--<td><a href="/h_adddoctor">H_Add doctor</a> </td>-->
<!--</tr>-->
<!--<tr>-->
        <!--<td><a href="/h_viewdoctor">H_view doctor</a> </td>-->
<!--</tr>-->
<!--<tr>-->
        <!--<td><a href="/h_adddep">H_Add department</a> </td>-->
<!--</tr>-->
<!--<tr>-->
        <!--<td><a href="/h_viewdep">H_view department</a> </td>-->
<!--</tr>-->
<!--<tr>-->
        <!--<td><a href="/hpentry">H_patiententry</a> </td>-->
<!--</tr>-->
<!--<tr>-->
        <!--<td><a href="/h_viewpatient">H_view patient</a> </td>-->
<!--</tr>-->
<!--<tr>-->
        <!--<td><a href="/h_doctorsh">H_doctor sheduling</a> </td>-->
<!--</tr>-->
<!--<tr>-->
        <!--<td><a href="/h_addambulance">H_Add ambulance</a> </td>-->
<!--</tr>-->
<!--<tr>-->
        <!--<td><a href="/h_viewcomp">H_view complaint</a> </td>-->
<!--</tr>-->
<!--<tr>-->
        <!--<td><a href="/h_sendcomp">H_sendcomplaint</a> </td>-->
<!--</tr>-->
 <!--<tr>-->
        <!--<td><a href="/h_viewbooking">H_view booking</a> </td>-->
<!--</tr>-->
    <!--<tr>-->
        <!--<td><a href="/h_ambulanceview">H_view ambulance</a> </td>-->
    <!--</tr>-->
</table>
{% endblock %}