{% extends "hospitaltemp.html" %}
{% block body %}
<form action="/h_viewbooking">
<table width="200" border="1">
  <tr>
    <th>Doctor Name</th>
    <th>Department</th>
    <th>Date</th>
    <th>user name</th>
    <th>phno</th>
    <th>place</th>
    <th>email</th>
  </tr>
  {% for i in res %}
  <tr>
    <td>{{i[0]}}</td>
    <td>{{i[1]}}&nbsp;</td>
    <td>{{i[2]}} </td>
    <td>{{i[3]}}&nbsp;</td>
     <td>{{i[4]}}&nbsp;</td>
    <td>{{i[5]}}&nbsp;</td>
    <td>{{i[6]}}&nbsp;</td>
  </tr>
  {% endfor %}
</table>
</form>
{% endblock %}
