{% extends "hospitaltemp.html" %}
{% block body %}
<table width="630" border="1">
  <tr>
    <th width="12">Sl.no</th>
    <th width="54">Name</th>
    <th width="37">Age</th>
    <th width="54">gende</th>
    <th width="56">B Group</th>
    <th width="48">DOB</th>
    <th width="49">Place</th>
    <th width="43">Ph No</th>
    <th width="72">P disease</th>
    <th width="73">C disease</th>
    <th width="31">email</th>
    <th colspan="2" width="85">&nbsp;</th>
  </tr>
  {% for i in res %}
  <tr>
     <td>{{loop.index}}</td>
    <td>{{i[2]}}</td>
    <td>{{i[3]}}</td>
    <td>{{i[4]}}</td>
    <td>{{i[5]}}</td>
    <td>{{i[6]}}</td>
    <td>{{i[7]}}</td>
    <td>{{i[8]}}</td>
    <td>{{i[9]}}</td>
    <td>{{i[10]}}</td>
    <td>{{i[11]}}</td>
    <td><a href="/pedit/{{i[0]}}">edit</a></td>
    <td><a href="/pdel/{{i[0]}}">remove</a></td>
  </tr>
  {%endfor%}
</table>
{% endblock %}