<!DOCTYPE html>
{% extends "hospitaltemp.html" %}
{% block body %}
<table border="1">
<tr>
    <td>complaint</td>
    <td>replay</td>
</tr>

<tr>
    <td>{{res[0]}}</td>
    <td>{{res[1]}}</td>
</tr>


</table>
{% endblock %}