{% extends "hospitaltemp.html" %}
{% block body %}
<form action="/updpatient" method="POST">
<table width="200" border="1">
  <tr>
    <td>Name<input type="hidden" value="{{res[0]}}" name="id"/></td>
    <td>
      <label for="txtname"></label>
      <input type="text" name="txtname" value="{{ res[2] }}" id="txtname" required />
    </td>
  </tr>
  <tr>
    <td>Age </td>
    <td>
      <label for="txtage"></label>
      <input type="text" name="txtage" value="{{ res[3] }}" id="txtage" required />
 </td>
  </tr>
    <tr>
    <td>gender</td>
    <td>
        {% if res[4]=="Male" %}
      <input type="radio" name="txtgender" value="Male" checked />MALE
        <input type="radio" name="txtgender" value="Female"/>FEMALE
        {% endif %}
                {% if res[4]=="Female" %}
      <input type="radio" name="txtgender" value="Male" />MALE
        <input type="radio" name="txtgender" value="Female" checked/>FEMALE
        {% endif %}
 </td>
  </tr>
  <tr>
    <td>B Group</td>
    <td>
      <select name="txtbgroup" >
          <option value="{{ res[5] }}" selected>{{ res[5] }}</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>DOB</td>
    <td>
      <label for="txtdob"></label>
      <input type="date" name="txtdob" value="{{ res[6] }}" id="txtdob" required />
   </td>
  </tr>
  <tr>
    <td>Place</td>
    <td>
      <label for="txtplace"></label>
      <input type="text" name="txtplace" value="{{ res[7] }}" id="txtplace" required />
    </td>
  </tr>
  <tr>
    <td>Ph No</td>
    <td>
      <label for="txtphno"></label>
      <input type="text" name="txtphno" value="{{ res[8] }}" id="txtphno" required/>
   </td>
  </tr>
  <tr>
    <td>Previous Disease</td>
    <td>
      <label for="txtpreviousdisease"></label>
      <input type="text" name="txtpreviousdisease" value="{{ res[9] }}" id="txtpreviousdisease" required />
   </td>
  </tr>
  <tr>
    <td>Current Disease</td>
    <td>
      <label for="txtcurrentdisease"></label>
      <input type="text" name="txtcurrentdisease" value="{{ res[10] }}" id="txtcurrentdisease" required />
    </td>
  </tr>
     <tr>
    <td>email</td>
    <td>
      <label for="txtemail"></label>
      <input type="email" name="txtemail" value="{{ res[11] }}" id="txtemail" required />
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <input type="submit" name="btadd" id="btadd" value="Add" />
   </td>
  </tr>
</table>
</form>
{% endblock %}