{% extends "hospitaltemp.html" %}
{% block body %}
<form action="/update_doc" enctype="multipart/form-data" method="post">
<table width="200" border="1">
  <tr><td colspan="2"><input type="hidden" name="did" value="{{res[0]}}"/><img src="{{ res[8] }}"height="100"width="100"> </td></tr>
  <tr>
    <td>Name</td>
    <td>
      <label for="txtname"></label>
      <input type="text" name="txtname" value="{{ res[2] }}"  id="txtname" />
   </td>
  </tr>
  <tr>
    <td>Age</td>
    <td>
      <label for="txtage"></label>
      <input type="text" name="txtage" id="txtage"  value="{{ res[3] }}"/>
  </td>
  </tr>
  <tr>
    <td>Place</td>
    <td>
      <label for="txtplace"></label>
      <input type="text" name="txtplace" value="{{ res[4] }}" id="txtplace" />
   </td>
  </tr>
  <tr>
    <td>Department</td>
    <td>
      <label for="list"></label>
      <select name="list" id="list">
        {% for a in res1 %}
        <option value="{{ a[0] }}"> {{ a[2] }}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <td>Qualification</td>
    <td>
      <label for="txtqualification"></label>
      <input type="text" name="txtqualification" value="{{ res[6] }}" id="txtqualification" />
   </td>

  </tr>
  <tr>
    <td>Image</td>
    <td>
      <label for="fileimg"></label>
      <input type="file" name="fileimg" id="fileimg" />
    </td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td>
      <label for="txtemail"></label>
      <input type="text" name="txtemail" value="{{ res[7] }}" id="txtemail" required />
   </td>
  </tr>
  <tr>
    <td>Phone No</td>
    <td>
      <label for="txtphno"></label>
      <input type="text" name="txtphno" id="txtphno" value="{{res[9]}}" required />

  </td>
  </tr>
  <tr>
    <td>Address</td>
    <td>
      <label for="txtaddress"></label>
      <input type="text" name="txtaddress" value="{{ res[10] }}" id="txtaddress" required />
   </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="btadd" id="btadd" value="update" />
    </td>
  </tr>
</table>
</form>
{% endblock %}
