{% extends "docttemp.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/prescr_post">

<table class="table table-bordered">
  <tr>
    <td>prescription</td>
    <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required></textarea></td>
  </tr>
  <tr>
    <td colspan="2"><div align="center">
      <input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/>
    </div></td>
    </tr>
</table>
    {% endblock %}
