{% extends "docttemp.html" %}
{% block body %}
<form action="/ulogin555" method="POST">
<table class="table">

  <tr>
    <td>Username</td>
    <td>

      <input type="text" name="uname" id="uname" required/>
    </td>
  </tr>
  <tr>
    <td>Password</td>
    <td>

      <input type="text" name="pwd" id="pwd" required/>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="btadd" id="btadd" value="Next" />
    </td>
  </tr>
</table>
</form>
{% endblock %}