{% extends "docttemp2.html" %}
{% block body %}
<form action="/h_viewbooking">
<table class="table">
  <tr>
    <!--<th>Doctor Name</th>-->
    <!--<th>Department</th>-->
    <th>slno</th>
    <th>filename</th>
      <th>Date</th>
    <th>file type</th>

    <th></th>

  </tr>
  {% for i in res %}
  <tr>
    <!--<td>{{i[0]}}</td>-->
    <td>{{loop.index}}&nbsp;</td>
    <td>{{i[1]}} </td>
    <td>{{i[2]}}&nbsp;</td>
     <td>{{i[3]}}&nbsp;</td>
    <td><a href="/doct_view_files_dw/{{i[1]}}/{{i[3]}}">download</a> &nbsp;</td>

  </tr>
  {% endfor %}
</table>
</form>
{% endblock %}
