{% extends "docttemp.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="" enctype="multipart/form-data">
<div class="card-header border-0">
              <h1 class="mb-0" ALIGN="center">MY PROFILE</h1>
            </div><br>
  <table class="table table-bordered">

    <tr>
      <td>Name</td>
        <td>{{ res[1] }}</td>
      <!--<input type="text" name="nm" id="nm" value="{{ res[1] }}" class="form-control"/></td>-->
    </tr>
  <tr>
      <td>Image</td>

      <td><img src="static/{{ res[2] }}" width="50px" height="50px"></td>
      <!--<input type="file" name="fileField" id="fileField"  class="form-control"/></td>-->
    </tr>
    <tr>
      <td>Email</td>
        <td>{{res[3]}}</td>
      <!--<input type="email" name="textfield2" id="textfield2" value="{{ res[3] }}" class="form-control"disabled/></td>-->
    </tr>
    <tr>
      <td>Phone</td>
        <td>{{res[4]}}</td>
      <!--<input type="text" name="ph" id="textfield3" value="{{ res[4] }}" class="form-control"/></td>-->
    </tr>
    <tr>
      <td>Gender</td>
        <td>{{res[5]}}</td>
          <!--{% if res[5]=="Male" %}-->
      <!--<input type="radio" name="radio" id="radio" value="Male" checked  />-->
      <!--Male<input type="radio" name="radio" id="radio" value="Female" />-->
      <!--Female</td>-->
        <!--{% elif res[5]=="Female" %}-->
        <!--<input type="radio" name="radio" id="radio" value="Male"   />-->
      <!--Male<input type="radio" name="radio" id="radio" value="Female" checked/>-->
      <!--Female</td>-->
        <!--{% endif %}-->
    </tr>

    <tr>
      <td>Address</td>
      <td>
          {{res[6]}}</td>
       <!--<textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required>{{res[6]}}</textarea></td>-->
    </tr>
    <tr>
      <td>Qulification</td>
        <td>{{res[7]}}</td>
      <!--<input type="text" name="qul" id="textfield8"value="{{ res[7] }}" class="form-control"/></td>-->
    </tr>
    <tr>
      <td>Place</td>
      <td>{{res[8]}}
          <!--<input type="text" name="plc" id="textfield4"value="{{ res[8] }}" class="form-control"/></td>-->
    </tr>
    <tr>
      <td>age</td>
      <td>{{res[9]}}
          <!--<input type="text" name="age" id="textfield6" value="{{ res[9] }}" class="form-control"/></td>-->
    </tr>

  </table>
</form>
{% endblock %}
