{% extends "docttemp.html" %}
{% block body %}
<form action="/doct_qust_with_asn_post" method="post">
<table class="table">
  <tr>
    <!--<th>Doctor Name</th>-->
    <!--<th>Department</th>-->
    <th>slno</th>
    <th>Qustion</th>

  </tr>
  {% for i in res %}
  <tr>
    <td>{{loop.index}} </td>
    <td>{{i[1]}}&nbsp;</td>

  </tr>
  {% endfor %}
</table>
    <table>
        <tr>
            <td>1answer</td>
            <td><input type="text" name="a1"required></td>
        </tr>
          <tr>
            <td>2answer</td>
            <td><input type="text" name="a2"required></td>
        </tr>
          <tr>
            <td>3answer</td>
            <td><input type="text" name="a3"required></td>
        </tr>
          <tr>
            <td>4answer</td>
            <td><input type="text" name="a4"required></td>
        </tr>
          <tr>
            <td>5answer</td>
            <td><input type="text" name="a5"required></td>
        </tr>
          <tr>
            <td>6answer</td>
            <td><input type="text" name="a6"required></td>
        </tr>
          <tr>
            <td>7answer</td>
            <td><input type="text" name="a7"required></td>
        </tr>
          <tr>
            <td>8answer</td>
            <td><input type="text" name="a8"required></td>
        </tr>
          <tr>
            <td>9answer</td>
            <td><input type="text" name="a9"required></td>
        </tr>
          <tr>
            <td>10answer</td>
            <td><input type="text" name="a10" required></td>
        </tr>
          <tr>
            <td></td>
            <td><input type="submit" name="ass" value="Add"></td>
        </tr>
    </table>
</form>
{% endblock %}
