{% extends "docttemp2.html" %}
{% block body %}
<form action="/algo_upload_pst" enctype="multipart/form-data" method="post">
<table class="table">
  <tr>
    <td>Name</td>
    <td>

      <input type="text" name="tname" id="txtname" />
   </td>
  </tr>
    <tr><td>Type</td>
        <td>
        <select name="ty"id="ty">
            <option value="jpg">jpg</option>
            <option value="png">png</option>
        </select>
        </td>
    </tr>

  <tr>
    <td>Image</td>
    <td>
      <input type="file" name="fff" id="fileimg" />
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="btadd" id="btadd" value="Upload" />
    </td>
  </tr>
</table>
</form>
{% endblock %}