{% extends "admintemp.html" %}
{% block body %}
<form action="/updthospital_post" enctype="multipart/form-data" method="post">
<table class="table table-bordered" width="456" border="1">
  <tr>
       <input type="hidden" name="id" id="id" value="{{res[0]}}"/>
    <td width="151">Name</td>
    <td width="289"><input name="txtname" type="text" value="{{res[1]}}" required /></td>
  </tr>
  <!--<tr>-->
    <!--<td>State</td>-->
    <!--<td>-->
      <!--{{res[2]}}-->
    <!--</td>-->
  <!--</tr>-->
  <tr>
    <td>District</td>
    <td>
        <select name="txtdistrict" id="txtdistrict">
            <option value="{{res[3]}}" selected>{{res[3]}}</option>
        <option value="Kasargod">Kasargod</option>
        <option value="Kannur">Kannur</option>
        <option value="Calicut">Calicut</option>
        <option value="Wayanad">Wayanad</option>
        <option value="Kottayam">Kottayam</option>
        <option value="Idukki">Idukki</option>
        <option value="Ernakulam">Ernakulam</option>
        <option value="Thiruvananthapuram">Thiruvananthapuram</option>
        <option value="Alappuzha">Alappuzha</option>
        <option value="Malappuram">Malappuram</option>
        <option value="Kollam">Kollam</option>
        <option value="Pathanamthitta">Pathanamthitta</option>
        <option value="Kasargod">Kasargod</option>
        <option value="Kasargod">Kasargod</option>
      </select>
   </td>
  </tr>
  <!--<tr>-->
    <!--<td>Street</td>-->
    <!--/<td>-->
      <!--<label for="txtstreet"></label>-->
      <!--<input type="text" name="txtstreet" id="txtstreet" value="{{res[4]}}" />-->
    <!--</td>-->
  <!--</tr>-->
  <tr>
    <td>Pincode</td>
    <td>
      <label for="txtpincode"></label>
      <input type="text" name="txtpincode" id="txtpincode" value="{{res[4]}}" required />
    </td>
  </tr>
  <tr>
    <td>Ph.no</td>
    <td>
      <label for="txtphno"></label>
      <input type="text" name="txtphno" id="txtphno" value="{{res[5]}}" required/>
    </td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td>
      <label for="txtemail"></label>
      <input type="email" name="txtemail" id="txtemail" value="{{res[6]}}" required readonly/>
   </td>
  </tr>
  <tr>
    <td>Website</td>
    <td>
      <label for="txtwebsite"></label>
      <input type="text" name="txtwebsite" id="txtwebsite" value="{{res[7]}}" required/>
   </td>
  </tr>
  <tr>
    <td>Choose Image1<input type="file" name="img1" required/></td>
      <td><img src="/static/{{res[8]}}" height="100" width="100"></td>
  </tr>
  <tr>
    <td>Choose Image2<input type="file" name="img2" required/></td>
    <td><img src="/static/{{res[9]}}" height="100" width="100"></td>
  </tr>
  <tr>
    <td>Description</td>
    <td>
      <textarea name="txtdescription" id="txtdescription" cols="45" rows="5">{{res[10]}}</textarea>
  </td>
  </tr>
  <tr>
    <td>Availability</td>
   <td>
      {% if res[11]=="Blood bank," %}
     <table width="292" border="1">
      <tr>
      <tr>
        <td>
          <input type="checkbox" name="chlab" id="checkbox3" value="Blood bank" checked/>
          <label for="checkbox3">Blood Bank</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="chlab" id="checkbox4"value="Organ bank" />
          <label for="checkbox4">Organ Bank</label>
       </td>
      </tr>
    </table>
      {% elif res[11]=="Blood bank,Organ bank" %}
     <table width="292" border="1">
      <tr>
        <td>
          <input type="checkbox" name="chlab" id="checkbox3" value="Blood bank" checked/>
          <label for="checkbox3">Blood Bank</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="chlab" id="checkbox4"value="Organ bank" checked/>
          <label for="checkbox4">Organ Bank</label>
       </td>
      </tr>
    </table>
     {% elif res[11]=="Organ bank" %}
     <table width="292" border="1">
      <tr>
        <td>
          <input type="checkbox" name="chlab" id="checkbox3" value="Blood bank" />
          <label for="checkbox3">Blood Bank</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="chlab" id="checkbox4"value="Organ bank" checked/>
          <label for="checkbox4">Organ Bank</label>
       </td>
      </tr>
    </table>
     {% endif %}
   </td>
  </tr>
     <tr>
    <td>latitude</td>
    <td>

      <input type="text" name="lati" id="lati" value="{{res[13]}}" required/>
   </td>
  </tr>
       <tr>
    <td>longitude</td>
    <td>

      <input type="text" name="longi" id="longi" value="{{res[14]}}" required/>
   </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
          <input type="submit" name="btsubmit" id="btsubmit" value="Update" class="btn btn-primary" />
    </td>
  </tr>
</table>
  </form>
{% endblock %}