{% extends "admintemp.html" %}
{% block body %}
<table class="table table-bordered"width="363" border="1">
  <tr>

    <!--<th width="85">Hospital Name</th>-->
    <th width="36">Address</th>
    <!--<th width="39">District</th>-->
    <!--<th width="39">pincode</th>-->
    <th width="39">contact info</th>
    <!--<th width="133">E-mail</th>-->
    <!--<th width="39">website</th>-->
    <th width="39">images</th>
    <!--<th width="39">image2</th>-->
    <th width="39">Discription</th>
    <!--<th >availability</th>-->
  </tr>
  {% for i in res %}
  <tr>
    <td>{{i[1]}}<br>{{i[2]}}<BR>{{i[3]}}<br>{{i[4]}}</td>
    <!--<td></td>-->
    <!--<td></td>-->
    <td>{{i[5]}}<br>{{i[6]}}<br>{{i[7]}}</td>
    <!--<td></td>-->
    <!--<td></td>-->
    <td><img src="/static/{{i[8]}}" height="100px" width="100px"> <br><img src="/static/{{i[9]}}" height="100px" width="100px"></td>
    <td>{{i[10]}}<br>{{i[11]}}<br>{{i[12]}}</td>
     <td>
      <a href="/hospital_edit/{{i[0]}}">Edit</a></td>
    <td><a href="/hospital_delete/{{i[0]}}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
