{% extends "hospitaltemp.html" %}
{% block body %}
<form action="/h_doctsh" method="post">
<table class="table">
  <tr>
    <td>Doctor Name</td>
    <td>
      <label for="listdoctor"></label>
      <select name="listdoctor" id="listdoctor">
          {% for a in res %}

<option value="{{ a[0] }}">{{ a[1] }}-{{a[2]}}</option>

          {% endfor %}




      </select>
 </td>
  </tr>

  <tr>
    <td>Date</td>
    <td>
      <label for="txtdate"></label>
      <input type="date" name="txtdate" id="txtdate"  required/>
  </td>
  </tr>
  <tr>
    <td>From</td>
    <td>
      <label for="txtfrom"></label>
      <input type="text" name="txtfrom" id="txtfrom" required />
  </td>
  </tr>
  <tr>
    <td>To</td>
    <td>
      <label for="txtto"></label>
      <input type="text" name="txtto" id="txtto" required />
   </td>
  </tr>
    <tr>
    <td align="center" colspan="2">
      <input type="submit" name="sadd" id="sadd" value="Add" class="btn btn-primary"/>
    </td>
  </tr>
</table>
</form>
{% endblock %}