{% extends "hospitaltemp.html" %}
{% block body %}
<form action="/update_dep" method="POST">
<table class="table">
    <input type="hidden" name="id" value="{{ res[0] }}"/>
  <tr>
    <td>Department</td>
    <td>
      <label for="txtdepartment"></label>
      <input type="text" name="txtdepartment" id="txtdepartment" value="{{ res[2] }}"  required/>
    </td>
  </tr>
  <tr>
    <td>Description</td>
    <td>
      <label for="txtdescription"></label>
      <textarea name="txtdescription" id="txtdescription" cols="45" rows="5" value="{{ res[3] }}">{{ res[3] }}</textarea>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="btadd" id="btadd" value="update" class="btn btn-primary"/>
    </td>
  </tr>
</table>
</form>
{% endblock %}